**.egg-info/
.DS_Store

# Environments
app.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
**.env
**.env.dev
**.env.prod

### PyCharm ###
*/.idea/*

### VisualStudioCode ###
.vscode/*

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

### Git ###
# Created by git for backups. To disable backups in Git:
# $ git config --global mergetool.keepBackup false
*.orig

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# ruff
**.ruff_cache/

**/node_modules/
