PG_HOST=db
PG_DB=booking_db
PG_USER=booking_user
PG_PASS=booking_password
PG_PORT=5432

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=''
REDIS_USER='default'
REDIS_DB=0
APP_REDIS_PREFIX='booking:dev'

JWT_ACCESS_SECRET=""
JWT_ACCESS_EXPIRES_MINUTES=15
JWT_ISSUER="booking-backend"